.body{
    text-align: center;
    background-image: url("img.jpeg");
    text-decoration: dashed;
    text-shadow: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.a{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.b{
    
    text-align: center;
    float: right;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.c{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.d{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.e{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.f{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.g{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.h{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.i{
    
    text-align: center;
    float: left;
    width: 33.33%;
    height: 33.33%;
    perspective: 1000px;
}
.flip{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.a:hover .flip{
    transform: rotateY(180deg);
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:hidden;
}

.back{
    background-color: rgba(21, 237, 245,0);
    transform: rotateY(180deg);
}
.front{
    background-color: rgba(70, 71, 73, 0.582);
}
.b:hover .flip{
    transform: rotateY(180deg);
}
.c:hover .flip{
    transform: rotateY(180deg);
}
.d:hover .flip{
    transform: rotateY(180deg);
}
.e:hover .flip{
    transform: rotateY(180deg);
}
.f:hover .flip{
    transform: rotateY(180deg);
}
.g:hover .flip{
    transform: rotateY(180deg);
}
.h:hover .flip{
    transform: rotateY(180deg);
}
.i:hover .flip{
    transform: rotateY(180deg);
}
